.mainContent {
  display: flex;
  flex-flow: column;
  padding-top: 15px;
  row-gap: 10px;
  max-width: 80%;
  margin: auto;
}

@media (min-width: 1360) {
  .mainContent {
    max-width: 80%;
    margin: auto;
  }
}

@media (min-width: 700px) {
  .storyForMobile {
    display: none;
  }
}

@media (max-width: 699px) {
  .mainContent {
    max-width: 100%;
    padding-top: 0;
  }
  .storyForMobile {
    background-color: #18191a;
    padding-bottom: 10px;
  }

  .storyForDesktop {
    display: none;
  }
}

@media (min-width: 700px) {
  .storyForMobile {
    display: none;
  }
}
