.createPost {
  display: flex;
  flex-flow: column;
  background-color: #242526;
  width: 85%;
  border-radius: 10px;
  margin-left: 40px;
}

.createPostTop {
  display: flex;
  padding: 10px;
}
.createPostTop input {
  width: 80%;
  margin-right: 15px;
  background-color: #3a3b3c;
  color: beige;
  border: none;
  outline: none;
  border-radius: 20px;
}
.createPostTop img {
  height: 40px;
  width: 40px;
  padding: 0px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.devider {
  height: 1px;
  width: 100%;
  background-color: gray;
}

.createPostBottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.createPostBottomItem {
  display: flex;
  text-decoration: none;
  color: gray;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 15px;
}

.createPostBottomItem:hover {
  background-color: rgb(87, 84, 84);
}

.createPostBottomItem p {
  padding: 0px 10px;
}

.createPostBottomItemIconLive {
  height: 25px;
  width: 25px;
  margin-top: 12px;
  color: red;
}
.createPostBottomItemIconPhoto {
  height: 25px;
  width: 25px;
  margin-top: 12px;
  color: lightseagreen;
}
.createPostBottomItemIconHappy {
  height: 25px;
  width: 25px;
  margin-top: 12px;
  color: yellow;
}

@media (max-width: 699px) {
  .createPost {
    background-color: #18191a;
    width: 100%;
    margin-left: 0px;
    border-radius: 0;
  }
  .createPostTop input {
    width: 90%;
    background-color: #18191a;
    border: 0.1px solid gray;
  }
  .forDesktop {
    display: none;
  }
}
@media (min-width: 700px) {
  .forMobile {
    display: none;
  }
}

@media (min-height: 700px) {
  .createPost {
    width: 100%;
    margin-left: 0px;
  }
}
