.createPost {
  display: flex;
  flex-flow: column;
  background-color: rgb(39, 43, 43);
  width: 75%;
  border-radius: 10px;
  margin-left: 30px;
}

.createPostTop {
  display: flex;
  padding: 10px;
}
.createPostTop input {
  width: 80%;
  margin-right: 15px;
  background-color: rgb(87, 84, 84);
  border: none;
  outline: none;
  border-radius: 20px;
}
.createPostTop img {
  height: 40px;
  width: 40px;
  padding: 0px 10px;
  border-radius: 50%;
}

.devider {
  height: 1px;
  width: 100%;
  background-color: darkolivegreen;
}

.createPostBottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.createPostBottomItem {
  display: flex;
  text-decoration: none;
  color: gray;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 15px;
}

.createPostBottomItem:hover {
  background-color: rgb(87, 84, 84);
}

.createPostBottomItem p {
  padding: 0px 10px;
}

.createPostBottomItemIconLive {
  height: 25px;
  width: 25px;
  margin-top: 12px;
  color: red;
}
.createPostBottomItemIconPhoto {
  height: 25px;
  width: 25px;
  margin-top: 12px;
  color: lightseagreen;
}
.createPostBottomItemIconHappy {
  height: 25px;
  width: 25px;
  margin-top: 12px;
  color: yellow;
}
