.leftSidebar {
  display: flex;
  flex-flow: column;
  flex: 0.5;
  position: fixed;
  align-items: right;
  height: 100vh;
  overflow-y: scroll;
  width: 22%;
  left: 0;
  top: 75px;
}

.profileInfo {
  display: flex;
  padding: 0px 15px;
  max-width: 100%;
  text-decoration: none;
}

.profileInfo:hover {
  background-color: #3a3b3c;
  border-radius: 8px;
}
.profileInfo img {
  height: 25px;
  width: 25px;
  margin-top: 8px;
  border-radius: 50%;
}

.profileInfo p {
  color: white;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-left: 10px;
}

/*----------Custom Scrollbar-----------*/

.leftSidebar::-webkit-scrollbar {
  width: 10px;
}

.leftSidebar::-webkit-scrollbar-track {
  background: #18191a;
}

.leftSidebar::-webkit-scrollbar-thumb {
  background: #18191a;
}

.leftSidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*----------Responsive-----------*/

@media (min-width: 1124px) and (max-width: 1300px) {
  .leftSidebar {
    width: 20%;
  }
}

@media (max-width: 1123px) {
  .leftSidebar {
    display: none;
  }
}
