.leftSidebar {
  display: flex;
  flex-flow: column;
  flex: 0.5;
  position: fixed;
  align-items: right;
  height: 600px;
  overflow-y: scroll;
  width: 25%;
  left: 0;
  top: 10%;
}

.profileInfo {
  display: flex;
  padding: 0px 15px;
  max-width: 100%;
  text-decoration: none;
}

.profileInfo:hover {
  background-color: rgb(87, 84, 84);
  border-radius: 8px;
}
.profileInfo img {
  height: 25px;
  width: 25px;
  margin-top: 8px;
  border-radius: 50%;
}

.profileInfo p {
  color: white;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-left: 10px;
}

/* width */
.leftSidebar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.leftSidebar::-webkit-scrollbar-track {
  background: rgb(27, 26, 26);
}

/* Handle */
.leftSidebar::-webkit-scrollbar-thumb {
  background: rgb(27, 26, 26);
}

/* Handle on hover */
.leftSidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
