.storyItem {
  height: 175px;
}

.story {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  opacity: 0.6;
}
.profileInformation {
  display: flex;
  flex-flow: column;
  gap: 60px;
  color: white;
  justify-content: space-between;
  position: relative;
  top: -95%;
  left: 10%;
}

.profileInformation img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: solid 4px #2f88fc;
}

@media (min-width: 1701px) {
  .storyItem {
    height: 250px;
  }

  .story {
    height: 100%;
    width: 100%;
  }
  .profileInformation {
    gap: 125px;
    color: white;
  }

  .profileInformation img {
    height: 40px;
    width: 40px;
  }
}
