.storyItem {
  height: 210px;
  cursor: pointer;
}

.story {
  height: 195px;
  width: 100%;
  border-radius: 10px;
  opacity: 0.6;
}
.profileInformation {
  display: flex;
  flex-flow: column;
  gap: 70px;
  color: white;
  justify-content: space-between;
  position: relative;
  top: -80%;
  left: 10%;
}

.profileInformation img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: solid 4px #2f88fc;
}

@media (max-width: 699px) {
  .story {
    width: 125px;
  }
}
