.activeUsers {
  display: grid;
  grid-template-columns: 35% 65%;
  background-color: #242526;
  width: 85%;
  border-radius: 10px;
  margin-left: 40px;
  padding: 10px 0px;
  overflow-x: scroll;
}
.activeUser {
  cursor: pointer;
}
.createRoom {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: gray;
  cursor: pointer;
  margin: 0px 10px;
  padding: 0px 10px;
  border-radius: 15px;
  border: 1px solid rgb(70, 153, 252);
}
.createRoom p {
  padding: 0px 5px;
  color: rgb(70, 153, 252);
}

.createRoomIcon {
  height: 25px;
  width: 25px;
  margin-top: 12px;
  color: palevioletred;
}

.createRoom:hover {
  background-color: rgb(87, 84, 84);
}

.activeUserList {
  display: flex;
  column-gap: 10px;
  margin-top: 5px;
}

.activeUser img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  column-gap: 10px;
}

.activeUsers::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 699px) {
  .activeUsers {
    background-color: #18191a;
    width: 100%;
    margin-left: 0px;
    padding: 0px 0px;
    border-radius: 0;
  }
  .activeUser img {
    margin-top: 6px;
  }
  .createRoom p {
    font-size: 14px;
    padding: 0px 10px;
    color: rgb(70, 153, 252);
  }
}

@media (min-width: 1701px) and (min-height: 700px) {
  .activeUsers {
    width: 95%;
  }
  .createRoom p {
    font-size: 20px;
  }
}

@media (min-height: 700px) {
  .activeUsers {
    width: 100%;
    border-radius: 10px;
    margin-left: 0px;
  }
}
