.iconList {
  list-style: none;
  margin-top: 20%;
}
.icons {
  align-items: center;
  height: 17px;
  width: 17px;
  padding: 10px;
  color: white;
  border-radius: 50%;
  background-color: #3a3b3c;
  margin-left: 10px;
}

.icons:hover {
  background-color: lightslategrey;
}
