.rightSidebar {
  display: flex;
  flex-flow: column;
}

.rightSidebarTitle {
  display: flex;
  justify-content: space-between;
  color: lightsteelblue;
}
.rightSidebarTitle h3 {
  margin-left: 5px;
}

.RightSidebarIcons {
  display: flex;
  flex: 0.6;
  justify-content: space-between;
}

.RightSidebarIcons a {
  color: lightsteelblue;
  height: 20px;
  width: 20px;
  padding: 5px;
  margin-top: 25px;
}

.RightSidebarIcons a:hover {
  background-color: rgb(87, 84, 84);
  border-radius: 50%;
}
