.postBottom {
  display: grid;
  grid-template-columns: 26% 38% 26% 10%;
  padding: 0px 10px;
}
.postBottomReaction {
  display: flex;
  cursor: pointer;
}
.postBottomReaction p {
  margin-top: 10px;
}

.postBottomReaction a {
  margin-top: 28px;
  margin-left: 40px;
  color: white;
}
.profileInformation {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.profileInformation img {
  height: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
}

.profileInformation a {
  margin-top: 20px;
}

@media (min-width: 700px) {
  .profileInformation:hover {
    background-color: rgb(87, 84, 84);
    border-radius: 10px;
  }

  .postBottomReaction:hover {
    background-color: rgb(87, 84, 84);
    border-radius: 10px;
  }
}

@media (max-width: 699px) {
  .postBottom {
    display: grid;
    grid-template-columns: 28% 44% 28%;
    padding: 0px 10px;
    font-size: 11px;
  }
  .postBottomReaction a {
    margin-left: 25px;
  }
  .profileInformation {
    display: none;
  }
}
