.createPostBottom {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.createPostBottomItem {
  display: flex;
  text-decoration: none;
  color: gray;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 15px;
}

.createPostBottomItem:hover {
  background-color: rgb(87, 84, 84);
}

.createPostBottomItem p {
  padding: 0px 7px;
}

.createPostBottomItemIconLive {
  height: 15px;
  width: 15px;
  margin-top: 8px;
  color: red;
}
.createPostBottomItemIconPhoto {
  height: 15px;
  width: 15px;
  margin-top: 8px;
  color: rgb(37, 178, 32);
}
.createPostBottomItemIconHappy {
  height: 15px;
  width: 15px;
  margin-top: 8px;
  color: rgb(150, 43, 177);
}
