.postTop {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.postTop img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.postTopDetails {
  display: flex;
  flex-flow: column;
  margin-left: -75%;
  margin-top: -15px;
  padding-left: 25px;
  cursor: pointer;
}
.postTopDetails p {
  margin-top: 10px;
}
.postTopIcon {
  height: 25px;
  width: 25px;
  padding: 10px;
  color: lightslategray;
  cursor: pointer;
}
.postTopIcon:hover {
  background-color: grey;
  border-radius: 50%;
}

.postTopDetailsItem {
  display: flex;
  margin-top: -10px;
}

.postTopDetailsItem p {
  margin-top: -10px;
  padding-right: 15px;
}

@media (min-width: 1701px) {
  .postTop {
    padding: 20px;
  }

  .postTop img {
    height: 60px;
    width: 60px;
  }

  .postTopDetails {
    margin-left: -77%;
  }
  .postTopDetails p {
    font-size: 20px;
  }
}
