.postTop {
  display: grid;
  grid-template-columns: 5% 83% 5%;
  margin-top: 10px;
  padding: 10px;
}

.postTop img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.postTopDetails {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
}
.postTopDetails a {
  text-decoration: none;
}
.postTopDetails p {
  color: lightslategray;
}
.postTopIcon {
  height: 25px;
  width: 25px;
  padding: 10px;
  color: lightslategray;
  cursor: pointer;
}
.postTopIcon:hover {
  background-color: grey;
  border-radius: 50%;
}

.postTopDetailsItem {
  display: flex;
  margin-top: -20px;
}

.postTopDetailsItem p {
  margin-top: -18px;
  padding-right: 15px;
}

@media (max-width: 699px) {
  .postTopIcon:hover {
    display: none;
  }
  .postTop {
    grid-template-columns: 5% 83% 5%;
  }
  .postTopDetails {
    margin-top: 9px;
  }
}
@media (max-width: 580px) {
  .postTopIcon:hover {
    display: none;
  }
  .postTop {
    grid-template-columns: 7% 83% 5%;
  }
  .postTopDetails {
    margin-top: 7px;
  }
}
@media (max-width: 450px) {
  .postTop {
    grid-template-columns: 9% 83% 5%;
  }
  .postTopDetails {
    margin-top: 0px;
  }
}
@media (max-width: 375px) {
  .postTop {
    grid-template-columns: 12% 83% 5%;
  }
  .postTopDetails {
    margin-top: 0px;
  }
}

@media (min-width: 1601px) {
  .postTop {
    grid-template-columns: 8% 83% 5%;
  }
  .postTop img {
    height: 60px;
    width: 60px;
  }
  .postTopDetails {
    margin-top: 20px;
  }

  .postTopDetails p {
    font-size: 20px;
  }
}
