.feed {
  display: flex;
  flex-flow: column;
  background-color: #242526;
  width: 85%;
  border-radius: 10px;
  margin-left: 40px;
  color: #e4e6eb;
}

.feed p {
  padding: 15px;
  text-align: justify;
  margin-top: -5%;
}

.devider {
  height: 1px;
  width: 100%;
  background-color: gray;
}
@media (max-width: 699px) {
  .feed {
    background-color: #18191a;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
  }
}

@media (min-width: 1601px) {
  .feed p {
    font-size: 20px;
  }
}

@media (min-width: 700px) and (min-height: 700px) {
  .feed {
    width: 100%;
    margin-left: 0;
  }
  .feed p {
    font-size: 20px;
  }
}
