.feed {
  display: flex;
  flex-flow: column;
  background-color: #242526;
  width: 95%;
  border-radius: 10px;
  margin-left: 17px;
  color: #e4e6eb;
}

.feed p {
  padding: 10px;
  text-align: justify;
  margin-top: -5%;
}

.devider {
  height: 1px;
  width: 100%;
  background-color: gray;
}

@media (min-width: 1701px) {
  .feed {
    width: 95%;
  }
  .feed p {
    font-size: 20px;
  }
}
