.feed {
  display: flex;
  flex-flow: column;
  background-color: rgb(39, 43, 43);
  width: 75%;
  border-radius: 10px;
  margin-left: 30px;
  color: #a2a3a8;
}

.feed p {
  padding: 10px;
  text-align: justify;
  margin-top: -5%;
}

.devider {
  height: 1px;
  width: 100%;
  background-color: gray;
}
