.navbar {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 20% 50% 20%;
  column-gap: 5%;
  position: fixed;
  align-items: center;
  background-color: #242526;
  height: 55px;
  width: 100%;
  z-index: 100;
}

/*-----------------------Navbar left part------------*/

.firstPart {
  display: flex;
}
.icon {
  height: 100%;
  width: 15px;
  color: white;
}

.firstPart img {
  height: 48px;
}

.searchOption {
  display: flex;
  align-items: center;
  background-color: rgb(87, 84, 84);
  border-radius: 25px;
  padding: 10px;
  height: 15px;
  margin-top: 10px;
}

.searchOption input {
  background-color: transparent;
  border: none;
  outline: none;
}

/*-----------------------Navbar middle part------------*/

.middlePart {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  column-gap: 1%;
  /* display: flex;
  flex: 0.75;
  justify-content: space-between; */
}

.iconMiddle {
  height: 100%;
  width: 25px;
  color: lightslategrey;
  padding: 5px 35px;
  border-radius: 5px;
  margin-top: -5px;
}

.iconMiddle::after {
  color: #2f88fc;
}

.iconMiddle:active {
  color: #2f88fc;
}

.iconMiddle:hover {
  background-color: rgb(87, 84, 84);
}

/*-----------------------Navbar left part------------*/

.lastPart {
  display: flex;
  justify-content: center;
  padding: 0 8px;
  margin-right: 5px;
}

.lastPart img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.profileDetails {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 0 7px;
  padding-top: 2%;
  border-radius: 25px;
}

.profileDetails p {
  margin-top: 7%;
  margin-left: 5%;
  color: white;
  font-size: 15px;
}

.profileDetails:hover {
  background-color: rgb(87, 84, 84);
}

@media (max-width: 1123px) {
  .profileDetails {
    display: none;
  }
}
@media (max-width: 1000px) {
  .searchOption {
    display: none;
  }
}
