.navbar {
  display: flex;
  flex-flow: column;
  height: 130px;
  padding: 0px 8px;
  background-color: #18191a;
  border-bottom: 0.5px solid gray;
}

/*-----------------------Navbar left part------------*/

.navTopPart {
  display: flex;
  justify-content: space-between;
  color: #2f88fc;
}
.topIcons {
  display: flex;
  margin-right: -20px;
}

.iconTop {
  height: 100%;
  width: 20px;
  color: lightslategrey;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: -5px;
}

/*-----------------------Navbar middle part------------*/

.navBottomPart {
  display: flex;
  justify-content: space-between;
}

.fixed {
  display: grid;
  grid-template-columns: 18% 16% 16% 16% 16% 16%;
  background-color: #18191a;
  position: fixed;
  padding: 10px;
  margin-left: -10px;
  width: 100%;
  z-index: 100;
}

.iconBottom {
  height: 100%;
  width: 20px;
  color: lightslategrey;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: -5px;
}

.imgBottom img {
  height: 17px;
  width: 17px;
  border-radius: 50%;
}

.imgBottom {
  display: flex;
}

.imgBottom img {
  margin-top: 6px;
  margin-left: -33px;
}

.iconBottom:active {
  color: #16181a;
}

@media (max-width: 375px) {
  .topIcons {
    display: flex;
    margin-right: 0;
  }
  .iconTop {
    width: 15px;
    padding: 5px 10px;
  }

  .iconBottom {
    width: 15px;
    padding: 5px 10px;
    margin-top: 0px;
  }
  .imgBottom img {
    height: 14px;
    width: 14px;
    margin-top: 13px;
    margin-left: -20px;
  }
}
