.app {
  background-color: #18191a;
  max-width: 1480px;
  overflow-x: hidden;
  /* max-width: auto; */
}

.body {
  padding-top: 55px;
}

.mainBody {
  width: 50%;
  position: relative;
  align-items: center;
  margin: auto;
}

/*--------------------------RESPONSIVE-----------------------*/

@media (max-width: 1000px) {
  .mainBody {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .app {
    background-color: rgb(87, 84, 84);
  }
  .mainBody {
    width: 100%;
  }
  .navbar {
    display: none;
  }
  .body {
    padding-top: 0;
  }
}
@media (min-width: 851px) {
  .mobileNavbar {
    display: none;
  }
}

@media (min-width: 1001px) {
  .mainBody {
    width: 80%;
    margin: 0%;
  }
}

@media (min-width: 1124px) {
  .mainBody {
    width: 65%;
    margin: auto;
  }
}

@media (min-width: 1380px) {
  .mainBody {
    width: 55%;
    margin: auto;
  }
}

@media (min-width: 1601px) {
  .mainBody {
    width: 65%;
    left: 6%;
  }
}

@media (min-width: 1801px) {
  .mainBody {
    width: 70%;
    left: 10%;
  }
}

@media (min-width: 1901px) {
  .mainBody {
    width: 75%;
    left: 15%;
  }
}

@media (min-width: 2051px) {
  .mainBody {
    width: 75%;
    left: 20%;
  }
}
