.dropdown {
  position: absolute;
  top: 49px;
  width: 15%;
  left: 82.5%;
  background-color: #3a3b3c;
  border-radius: 10px;
}

.dropdown a {
  display: flex;
  text-decoration: none;
  padding: 5px;
}
